html, body {
    background-color: #3f3047;
    
}

.container {
    width: 100%;
    margin: auto;
    padding: 0;
    
}

.container > div {
    /* width: 100%; */
    font-size: 2em;
    text-align: center;
    color: #3f3047;
}

.container > .header {
    background-color: #83f6d0;
}

.container > .menu {
    background-color: #b383f6;
}

.container > .content {
    background-color: #77c2fb;
}

.container > .footer {
    background-color: #f683e1;
}

.container {
    display: grid;
    height: 98vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
        "m m h h h h h h h h h h"
        "m m c c c c c c c c c c"
        "f f f f f f f f f f f f"
        ;
    justify-items: start;
    align-items: start;
}

.header {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-area: h; */
}

.footer {
    /* grid-column: 1 / 3; */
    /* grid-column: 1 / -1; */
    /* grid-column: 1 / span 2; */
    /* grid-area: f; */
}

/* .menu {
    grid-row: 1 / -1
} */

.menu {
    /* grid-column: 2 / -1; */
    /* grid-area: m; */
}

.content {
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
    /* grid-area: c; */
    
}